<p>Welcome <%= @resource.name %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', user_confirmation_url(confirmation_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your account won't be created until you access the link above and set your password.</p>
